
body {
    width: 980px;
    padding: 10px;
    margin: 0px auto;
    word-wrap: break-word;
}	 

body * {
    font: 1.0em Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased;
}

input {
    border: solid 1px #808080;
    border-radius: 3px;
}

input[type="text"], input[type="password"]{
    padding-left: 3px;
    color: #3F3E3E;
}

input[type="submit"] {
    cursor: pointer;
    color: black;
    background-color: #ECE5E5;
}

.flamebutton {
    color: #E25822 !important;	  
    background-color: #F3E7E7 !important;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.error_message {
    font-size: 0.75em;
    text-align: left !important ;
}

.error_highlight, .error_message {
    color: red;
    padding-left: 10px;
    padding-top: 0px;
    margin: 0;
}

#header, #footer {
    width: 960px;
    background: #ccc;
}

#header {
    height: 96px;
    padding: 10px;
}

#header #logo {
    width: 350px;
    height: 96px;
    float: left;
}

#header #userbar {
    width: 600px;
    height: 38px;
    padding: 5px;
    float: right;
}

#header #userbar a {
    text-decoration: none;
}

#header #userbar #loggedin *{
    font-size: 1.1em;
    margin-right: 20px;
    padding: 1px;
    color: black;
    font-weight: 700;
}

#header #navbar {
    width: 600px;
    height: 38px;
    padding: 5px;
    float: right;
}

#header #navbar ul {
    list-style-type: none;    
    float: right;
}

#header #navbar ul li {
    display: block;
    display: inline;
    margin: 0px 10px;
}

#header #navbar ul li a {
    text-decoration: none;
    color: black;
}

#header #navbar ul li a:hover {
    color: blue;
}

#content {
    margin-top: 10px;
    padding: 5px;
    min-height: 480px;
}

#footer {
    margin-top: 10px;
    height: 20px;
    padding: 5px 10px;
}

#loginform {
    float: right;
}

#loginform input {
    margin-right: 5px;
}

#loginform input[type="submit"] {
    box-height: 20px;
}

#loginform input[type="text"], #loginform input[type="password"] {
    width: 150px;
    height: 20px;
    margin-right: 10px;
}

#company_reg {
    width: 900px;
    height: 40px;
    margin: 0px auto;
    margin-top: 25px;
    padding-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
}

#company_reg input[type="text"] {
    width: 400px;
    height: 25px;
    font-size: 1.0em;
}

#company_reg input[type="submit"] {
    height: 29px;
}






#loginbutton input, #logoutbutton button, #registrationbutton input {
	     cursor:           pointer;
	     display:          inline-block;
	     width:            82px;
	     height:           35px;
	     padding:          5px;
	     text-align:       center;
	     font-size:        1.1em;
	     text-decoration:  none;
	     color:            #E25822;	  
}


#companyregistration {
		     margin-top: 100px;
		     font-size: 1.3em;
}

#companyregistrationbutton input {
			   width: 120px;
			   height: 40px;
                           color: black;
			   font-size: 1.0em; 
}


/* error class */






#registrationbutton input {
		    width:  100px;
		    height: 40px;
}


#registrationform {
		  clear:        both;
		  text-align:   right;
		  padding:      20px;
		  margin-right: 610px;
		  margin-top:   50px;
		  font-size:    1.1em;	   
}

.register_div input {
		  padding:   5px;
		  font-size: 0.7em;
		  height:    35px;
		  width:     160px;
}


#registrationThankyou {
		      padding:   50px;
		      font-size: 1.3em;
}

#confirmation {
	      padding:    50px;
	      font-size:  1.3em;
	      color:      red;
}

#profilename {
	     margin-top: -70px;
	     margin-right: 120px;
	     width: 300px;
	     float: right;
	     text-align: right;
}

#profilename p {
	     font-size: 1.3em;
}

#company {
	 font-size: 1.1em;
}

#company #left {
	 width: 750px;
	 float: left;
	 clear: both;
}

#company #left #workspace {
	 clear: right;
	 float: left;
}

#company #left #workspace figure {
       margin: 10px;
       display: table;
       text-align: center;
       padding: 0px;
}		 

#company #left #workspace_launch{
	 margin-top: 17px;
	 width: 180px;
	 border:2px dashed #708090;
	 float: left;
	 text-align: center;
	 height: 90px;
	 margin-left: 10px;
}


#company #left #workspace_launch select{
	 width: 160px;
}

#company #left #workspace_launch input{
	 color: #E25822;
	 text-decoration:  none;	
	 display: inline-block;
	 margin-top: 15px;
	 font-size: 0.6em;
}

#company #left #workspace_launch .error {
	 margin-top: 10px;
}

#company #right {
	 width: 750px;
	 float: left;
	 clear: both;
}