
body {
    width: 980px;
    padding: 10px;
    margin: 0px auto;
    word-wrap: break-word;
}	 

body * {
    font: 1.0em Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased;
}

select {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

input{
    border: solid 1px #808080;
    border-radius: 3px;
}

input[type="text"], input[type="password"]{
    padding-left: 3px;
    color: #3F3E3E;
}

input[type="submit"] {
    cursor: pointer;
    color: black;
    background-color: #ECE5E5;
}

p, figure, label, h1 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.25em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.flamebutton {
    color: #E25822 !important;	  
    background-color: #F3E7E7 !important;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.red {
    color: red;
}

.error_message {
    font-size: 0.75em !important;
    text-align: left !important ;
    padding-left: 10px; 
    padding-top: 0px; 
    margin: 0; 
}

.error_highlight, .error_message {
    color: red;
}

.addbkg {
    background:url(/static/images/plus_sign.png) no-repeat center;
    border:2px dashed #708090;
    //border: none;
    cursor: pointer;
    border-radius: 0px;
    margin-top: 22px;
    padding: 0px;
    width: 160px;
    height: 90px;
}

.stop_ws {
    background:url(/static/images/pause.png) no-repeat;
    border: none;
    border-radius: 0px;
    padding: 0px;
    float: right;
    margin: 0px;
    width: 18px;
    height: 20px;
}

.start_ws {
    background:url(/static/images/play.png) no-repeat;
    border: none;
    border-radius: 0px;
    padding: 0px;
    float: right;
    margin: 0px;
    width: 18px;
    height: 20px;
}

.add10, .add15, .add20, .add25 {
    background:url(/static/images/plus_sign.png) no-repeat;
    background-color: transparent !important;
    border: none;
}

.terminate10, .terminate15, .terminate20, .terminate25 {
    background:url(/static/images/minus_sign.png) no-repeat;
    background-color: transparent !important;
    border: none;
}

.terminate10, .add10 {
    background-size: 10px auto;
    width: 10px;
    height: 10px;
}

.terminate15, .add15 {
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.terminate20, .add20 {
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.terminate25, .add25 {
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.description {
    font-size: 0.9em;
    color: #3F3E3E;
    padding-left: 5px;
}

.br {
    height: 25px;
}

.text_input {
    float: right;
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    border: none;
    background: none !important; 
}

.text_input_l {
    float: left;
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    border: none;
    background: none !important; 
}

.text_input:hover {
    color: blue;
}

#header, #footer {
    width: 960px;
    background: #ccc;
}

#header {
    height: 96px;
    padding: 10px;
}

#header #logo {
    width: 350px;
    height: 96px;
    float: left;
}

#header #userbar {
    width: 600px;
    height: 38px;
    padding: 5px;
    float: right;
}

#header #userbar #loggedin *{
    font-size: 1.1em;
    margin-right: 20px;
    padding: 1px;
    color: black;
    font-weight: 700;
}

#header #navbar {
    width: 600px;
    height: 38px;
    padding: 5px;
    float: right;
}

#header #navbar ul {
    list-style-type: none;    
    float: right;
}

#header #navbar ul li {
    display: block;
    display: inline;
    margin: 0px 10px;
}

#header #navbar ul li a {
    text-decoration: none;
    color: black;
}

#header #navbar ul li a:hover {
    color: blue;
}

#content {
    margin-top: 10px;
    padding: 5px;
    min-height: 480px;
    margin-bottom: 10px;
}

#footer {
    height: 20px;
    padding: 5px 10px;
}

#loginform {
    float: right;
}

#loginform input {
    margin-right: 5px;
}

#loginform input[type="submit"] {
    box-height: 20px;
}

#loginform input[type="text"], #loginform input[type="password"] {
    width: 150px;
    height: 20px;
    margin-right: 10px;
}

#newhome {
    background: url(/static/images/orange_cloud.jpg) no-repeat;
    background-position: center;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -5px;
    min-height: 515px;
    width: 980px;
}

#newhome #hometext {
    padding: 10px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

#home #left, #home #right {
    width:465px;
    padding: 10px;
    font-size: 1.3em;
    margin-top: 40px;
}

#home #left input[type="submit"] {
    margin-top: 20px;
    margin-left: 250px;
}

#company_reg {
    width: 900px;
    height: 40px;
    margin: 0px auto;
    margin-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
}

#company_reg input[type="text"] {
    width: 400px;
    height: 25px;
}

#company_reg input[type="submit"] {
    height: 29px;
}

#company {
    margin-top: 30px;
}

#company #name {
    padding: 5px;
    font-size: 1.1em;
}

#company #name input{
    vertical-align: top;
}

#company #workspaces {
    width: 709px;
    border-right: 1px solid #C0C0C0;
    float: left;
    padding: 5px;
}

#company #workspaces #workspace {
    padding: 10px 30px;
    float: left;
}

#company #workspaces #workspace {
    display: table;
    text-align: center;
}

#company #workspaces #workspace input{
    vertical-align: top;
}

#company #workspaces #launch {
    //border:2px dashed #708090;
    width: 170px;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    font-size:0.95em;
    padding: 5px;
}

.ws_launch #launch_butt {
    font-size:1.1em;
    margin-top: 15px; 
    margin-left: 140px;
    width: 100px; 
    height: 30px;
}

.ws_launch p {
    margin-top: 10px; 
    font-size:0.95em;
}

.ws_launch input, .ws_launch select {
    margin-left: 20px; 
    font-size:0.95em;
}

.ws_launch #id_name {
    font-size:0.95em;
    width: 205px;
    height: 20px;
    margin-top: 2px;
}

.ws_launch #id_hardware{
    width: 195px;
}

.ws_launch #id_os{
    width: 195px;
}

#company #team {
    width: 240px;
    float: right;
    padding: 5px;
}

#company #team #owner p {
    padding: 7px;
    font-weight: bold;
}

#company #team #employee {
    padding: 7px;
}
    
#company #team #employee input{
    vertical-align: top;
}

#company #team #invite {
    padding: 7px;
}

#company #team #invite select{
    width: 150px;
}

#company #team #invite input{
    vertical-align: middle;
}    

#confirmation {
    padding: 50px;
    font-size: 1.3em;
}


#registration, #contactus {
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
}

#registration #register {
    padding: 10px;
}

#registration #register label {
    display: inline-block;
    width: 140px; 
}

#registration input[type="text"], #registration input[type="password"] {
    height: 25px;    
    width: 200px;
}

#registration input[type="submit"] {
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 275px;
    height: 30px;
}

#contactus label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    padding: 5px;
}

#contactus input[type="text"] {
    width: 300px;
}

#contactus input[type="submit"] {
    margin-top: 20px;
    margin-left: 450px;
}

#contactus textarea {
    width:380px;
    height:250px;
}


#tools #order {
    font-size: 1.1em;
    margin-top: 25px;
    margin-left: 30px;
}

#tools #hardware, #tools #os, #tools #software {
    width: 292px;
    padding-left: 10px;
    margin-top: 30px;
} 

#tools #hardware {
    margin-left: 60px;
}


#software_change {
    margin-top: 30px;
}

#software_change ul {
    list-style-type: none;    
}

#software_change #form {
    margin-left: 20px;
}

#software_change input[type="submit"] {
    margin-left: 50px;
}
