<!DOCTYPE html>

<html>
  
  <head>
    
    <!-- style sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/awd.css" />
    <!-- shortcut icon -->
    <link rel="shortcut icon" href="/static/images/abqLogo_300dpi.png" type="image/png">
    <!-- use a block for later extension of the head  -->    
    {% block extrahead_base %}
    {% endblock %}
    
  </head>
  
  
  <body>

    <div id="header">      
      
      <div id="logo">
	<img src="/static/images/abqLogo_300dpi.png" width="300" height="100" />
      </div>

      <div id="userbar">
	{% if user.is_authenticated %}
	<form method="post">
	  <input type="submit" value="login" />
	</form>
	<div id="logoutbutton">
	  <!-- <p><a href="/logout/"><button type="button">logout</button></a></p> -->
	</div>
	{% endif %}
	<!-- use block content for later extention of the extra header  -->
	{% block extraheader_base %}
	{% endblock %}
      </div>
    
      <div id="navbar">
	<!-- <ul>
	  <li> Home </li>
	  <li> View Profiles </li>
	  <li> See Tools </li>
	  <li> Contact Us </li>
	</ul> -->
      </div>
      
    </div>
    
    <div class="clear"> </div>

    <div id="content">
      Mohammad is gol-pesar!
      <!-- use block content for later extention of the body  -->
      {% block content_base %}
      {% endblock %}
    </div>
    
    <!--
    <div id="footer">
      Abaqual© 2013
    </div>
    -->
  </body>
  
  
</html>
