<!DOCTYPE html>

<html>
  
  <head>
    
    <!-- style sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/awd.css" />
    <!-- shortcut icon -->
    <link rel="shortcut icon" href="/static/images/abqLogo_300dpi.png" type="image/png">
    <!-- use a block for later extension of the head  -->    
    {% block extrahead_base %}
    {% endblock %}
    
  </head>
  
  
  <body>
    
    <div id="header">      
      
      <div id="logo">
	<img src="/static/images/abqLogo_300dpi.png" width="292" height="96" />
      </div>
      
      <div id="userbar">
	<!-- use block content for later extention of the extra header  -->
	{% block extraheader_base %}
	{% endblock %}
	<!-- logout button -->
	{% if user.is_authenticated %}
	<a href="/logout/" class="right"> 
	  <input type="submit" class="flamebutton" value="logout" /> 
	</a>
	{% endif %}
      </div>
      
      <div id="navbar">
	<ul>
	  <li> 
	    <a href="#"> Home <a> 
	  </li>
	  <li> 
	    <a href="#"> View Profiles <a>  
	  </li>
	  <li> 
	    <a href="#"> See Tools <a> 
	  </li>
	  <li> 
	    <a href="#"> Contact Us <a> 
	  </li>
	</ul>
      </div>
      
    </div>
    
    <div class="clear"> </div>

    <div id="content">
      Mohammad is gol-pesar!
      <!-- use block content for later extention of the body  -->
      {% block content_base %}
      {% endblock %}
    </div>
    
    <!--
    <div id="footer">
      Abaqual© 2013
    </div>
    -->
  </body>
  
  
</html>
