{% extends "base.html" %}

{% block extrahead_base %}
<title> Console </title>
{% endblock %}


{% block content_base %}

{% if abqUser.abaqual_status == "EX" %} 
<div id="company_reg" >
  <form method="post">
    {% csrf_token %}
    <label for="name" 
	   {% if company_reg_form.name.errors %} 
	   class="error_highlight" 
	   {% endif %}> 
      Company name 
    </label> 
    {{ company_reg_form.name }} 
    <input type="submit" name="register_company" value="Start your company"/>
    {% if company_reg_form.errors %} 
    <p class="error_message">  
      {{company_reg_form.name.errors.as_text}} 
    </p> 
    {% endif %}
  </form>
</div>
{% endif %}

<!--
{% for company in company_dic.values %}

<div id="company">
  
  <div id="name">
    <p> {{ company.company }} </p>
  </div>    

  <div id="left"> 
    
    <div id="workspaces">
      {% for workspace in company.workspaces %}
      <div id="workspace">
	<figure>
	  <a href="{{workspace.instance_url}}" alt="{{workspace.name}}">
	    <img src="{{workspace.image.url}}" alt="">
	  </a>
	  <figcaption>{{workspace.name}}</figcaption>
	</figure>
      </div> 

      {% endfor %}
    </div>
    
    <div id="workspace_launch" >
      <form method="post">
	{% csrf_token %}
	{{company.workspace_launch_form.company_name}}
	{{company.workspace_launch_form.hardware}}
	{{company.workspace_launch_form.os}}
	<input type="submit" name="workspace_launch" value="launch workspace" />
      </form>
      <p class="error"> {{company.workspace_launch_form.errors.as_text}}</p>
    </div>

  </div>

  <div id="right">
    
    <div id="employees">
      {% for employee in company.employees_accepted %}
      <div id="employee_accepted">
	<p> {{employee.user.first_name}} {{employee.user.last_name}}</p>
      </div> 
      {% endfor %}
      {% for employee in company.employees_pending %}
      <div id="employee_pending">
	<p> {{employee.user.first_name}} {{employee.user.last_name}} (pending)</p>
      </div> 
      {% endfor %}
    </div>
    
    <div id="add_employee" >
      <p> {{company.employment_form.errors.as_text}}</p>
      <form method="post">
	{% csrf_token %}
	{{company.employment_form.abqUser}}
	{{company.employment_form.company_name}}
	<input type="submit" name="invite_employee" value="invite" />
      </form>
    </div>
     
  </div>
  
</div>

{% endfor %}



{% for company in company_dic_employee.values %}

<p> {{ company.company }} </p>

<div id="workspaces">
  {% for workspace in company.workspaces %}
  <div id="workspace">
    <a href="url"> <img src="{{workspace.image.url }}" /> </a>
    <p> {{workspace.name}} </p>
  </div> 
  {% endfor %}
</div>

<div id="owner">
<p> Owner: {{company.owner.user.first_name}} {{company.owner.user.last_name}} </p>
</div>

<div id="employees">
  {% for employee in company.employees %}
  <div id="employee_accepted">
    <p> {{employee.user.first_name}} {{employee.user.last_name}}</p>
  </div> 
  {% endfor %}
</div>

{% endfor %}


-->
{% endblock %}
