{% extends "base.html" %}

{% block extrahead_base %}
<script src="/static/js/launch_workspace.js"> </script>
<title> Console - Abaqual </title>
{% endblock %}


<!-- company registration for the experts -->
{% block content_base %}


{% if abq_user.abaqual_status == "EX" %} 
<div id="company_reg" >
  <form method="post">
    {% csrf_token %}
    <label 
       {% if company_reg_form.non_field_errors %} 
       class="error_highlight" 
       {% endif %} > 
      Company name 
    </label> 
    {{ company_reg_form.name }} 
    <input type="submit" name="register_company" value="Start your company"/>
    {% if company_reg_form.errors %} 
    <p class="error_message">  
      {{company_reg_form.non_field_errors.as_text}} 
    </p> 
    {% endif %}
  </form>
</div>
{% endif %}


<!-- loop through all the companies -->
{% for company_dict in companies_dict.values %}
<div id="company" >
  
  <!-- company name and termination -->
  <div id="name">
    <form method="post">
      {% csrf_token %}
      <label> {{ company_dict.company.name }} </label>
      {% if abq_user == company_dict.company.owner %} 
      <input name="company_name" value="{{ company_dict.company.name }}"
	     type="hidden" >
      <input name="dissolve_company" class="terminate20" 
	     value="" type="submit" >
      {% endif %}
    </form>
  </div>
  <div class="clear"> </div>
  
  <!-- workspace -->
  <div id="workspaces" >
    <!-- workspaces and termination -->
    {% for item in company_dict.workspaces_list %}
    <!-- workspace -->
    <div id="workspace" >
      <figure>
	<!-- termiation -->
	<form method="post">
	  {% csrf_token %}
	  {{item.termination_form.region}}
	  {{item.termination_form.instance_id}}
	  {{item.termination_form.company_name}}
	  <input type="submit" name="stop_start_workspace" 
		 class="text_input", value="   stop/start" />
	</form>
	<form method="post">
	  {% csrf_token %}
	  {{item.termination_form.region}}
	  {{item.termination_form.instance_id}}
	  {{item.termination_form.company_name}}
	  {% if abq_user == company_dict.company.owner %} 
	  <input type="submit" name="go_to_software" 
		 class="text_input_l", value="options(+/-)" />
	  {% endif %}
	</form>
	{% if "http" in item.workspace.instance_url %}
	<a href="{{item.workspace.instance_url}}" 
	   alt="{{item.workspace.name}}" target="">
	  <img src="{{item.workspace.image.url}}" alt="">
	</a>
	{% else %}
	<a href="/console/" 
	   alt="{{item.workspace.name}}">
	  <img src="{{item.workspace.image.url}}" alt="">
	</a>
	{% endif %}
	<figcaption>
	  <!-- termiation -->
	  <form method="post">
	    {% csrf_token %}
	    {{item.termination_form.region}}
	    {{item.termination_form.instance_id}}
	    {{item.termination_form.company_name}}
	    <label> {{item.workspace.name}} </label>
	    {% if abq_user == company_dict.company.owner %} 
	    <input type="submit" name="terminate_workspace" 
		   class="terminate20" value="" />
	    {% endif %}
	  </form>
	</figcaption>
      </figure>
      <p class="error"> {{item.termination_form.errors.as_text}}</p>
    </div>
    {% endfor %}
    
    <!-- launch a new workspace -->
    {% if abq_user == company_dict.company.owner %} 
    <div id="workspace">
      <form method="post">
	{% csrf_token %}
	{{item.termination_form.region}}
	{{item.termination_form.instance_id}}
	{{item.termination_form.company_name}}
	{% if abq_user == company_dict.company.owner %} 
	<input type="submit" name="go_to_software" 
	       class="text_input_l", value="options(+/-)" />
	{% endif %} 
      </form>
      
      <button id="ws_launch_butt" class="addbkg"></button>
      <form id="ws_launch_form" method="post" 
	    title="Workspace preferences">	
	{% csrf_token %}
	{{company_dict.workspace_launch_form.company_name}}
        <p> Name: {{company_dict.workspace_launch_form.name}} </p>
	<p class="error_message"> 
	  {{ company_dict.workspace_launch_form.name.errors.as_text }}
	</p>
	<p> 
	  Hardware type: 
	  {{company_dict.workspace_launch_form.hardware}}
	</p>
	<p class="error_message"> 
	  {{ company_dict.workspace_launch_form.hardware.errors.as_text }}
	</p>
	<p> 
	  Operating system: 
	  {{company_dict.workspace_launch_form.os}} 
	</p>
	<p class="error_message"> 
	  {{ company_dict.workspace_launch_form.os.errors.as_text }}
	</p>
	<input id="launch_butt" type="submit" name="workspace_launch" 
	       class="flamebutton" value="Launch"/>
      </form>      
    
      
      <!--
      <button id="testb">Create new user</button>

      <div id="testf">
	
	<form method="post">
	  {% csrf_token %}
	 <input type="submit" name="workspace_launch" 
		 class="addbkg" value=""/>
          </br>
	  {{company_dict.workspace_launch_form.company_name}}
          {{company_dict.workspace_launch_form.name}}
	  <p class="error_message"> 
	    {{ company_dict.workspace_launch_form.name.errors.as_text }}
	  </p>
	  {{company_dict.workspace_launch_form.hardware}}
	  <p class="error_message"> 
	    {{ company_dict.workspace_launch_form.hardware.errors.as_text }}
	  </p>
	  {{company_dict.workspace_launch_form.os}}
	  <p class="error_message"> 
	    {{ company_dict.workspace_launch_form.os.errors.as_text }}
	  </p>
	</form>
      </div> 
      -->
    </div>
    {% endif %}
    <div class="clear"> </div>       
  </div>
  
  <!-- Team -->
  <div id="team">
    <!-- team mebers -->
    <div id="owner">
      <p>{{company_dict.company.owner.user.first_name }} 
	{{company_dict.company.owner.user.last_name }} (owner) 
      </p>
    </div>
    {% for item in company_dict.employees_list %}
    <div id="employee">
      <!-- employment termination -->
      <form method="post">
	{% csrf_token %}
	<label>
	  {{item.employee.user.first_name}} {{item.employee.user.last_name}} 
	  {% if not item.accepted %}
	  (pending)
	  {% endif %}
	</label>
	{% if abq_user == company_dict.company.owner %} 
	{{item.termination_form.company_name}}
	{{item.termination_form.username}}
	<input type="submit" name="terminate_employment" 
	       class="terminate20", value="" />
	{% endif %}
      </form>
    </div>
    {% endfor %}
    <!-- new employee -->
    {% if abq_user == company_dict.company.owner %} 
    <div id="invite">
      <form method="post">
	{% csrf_token %}
	{{company_dict.employment_form.abqUser}}
	{{company_dict.employment_form.company_name}}
	<input type="submit" name="invite_employee" 
	       class="add20" value="" />
      </form>
      <p class="error_message"> 
	{% if company_dict.employment_form.non_field_errors %}
	{{company_dict.employment_form.non_field_errors.as_text}}
	{% endif %}
      </p>
    </div>
    {% endif %}
  </div>  
  
</div>
<div class="clear"> </div>
{% endfor %}



{% endblock %}
  


