{% extends "base.html" %}

{% block extrahead_base %}
<title> Home - Abaqual</title>
{% endblock %}

{% block extraheader_base %}
{% if not user.is_authenticated %}
<div id="loginform">
  <form method="post">
    {% csrf_token %}
    <label for="username" >
      Email 
    </label> 
    {{ login_form.username }}
    <label for="password" >
      Password 
    </label> 
    {{ login_form.password }}
    <input type="submit" class="flamebutton" value="Log in" />
    {% if login_form.errors %} 
    <p class="error_message"> 
      {{ login_form.non_field_errors.as_text }} 
    </p> 
    {% endif %}
  </form>
</div>
{% endif %}
{% endblock %}

{% block content_base %}


<div id="home">

  <div id="left" class="left">
    <p> 
      At Abaqual, projects meet experts from virtual 
      companies empowered by instant access to 
      collaborative on-demand computing.
    </p>
    <a href="/registration/" > 
      <input type="submit" class="flamebutton" value="Sign Up" /> 
    </a>
  </div>
  
  <div id="right" class="left">
    <!-- need SSL certificate to play movies on iphone, for now just image
    <video width="400" height="225" webkit-playsinline autoplay>
      <source src="/static/videos/Abaqual.webm" type="video/webm">
	<source src="/static/videos/Abaqual.mp4" type="video/mp4">
	  <source src="/static/videos/Abaqual.ogg" type="video/ogg">
	    <source src="/static/videos/Abaqual.mov" type="video/mp4">
	      Your browser does not support the video tag.
    </video> 
    -->
    <img src="/static/images/abqLogo_300dpi.png" width="438" height="144" />
  </div>
  
</div>
<div class="clear"> </div>
{% endblock %}
