{% extends "base.html" %}

{% block extrahead_base %}
<title> Home </title>
{% endblock %}

{% block extraheader_base %}
{% if not user.is_authenticated %}
<div id="loginform">
  <form method="post">
    {% csrf_token %}
    <label for="username" >
      Email 
    </label> 
    {{ login_form.username }}
    <label for="password" >
      Password 
    </label> 
    {{ login_form.password }}
    <input type="submit" class="flamebutton" value="Log in" />
    {% if login_form.errors %} 
    <p class="error_message"> 
      {{ login_form.non_field_errors.as_text }} 
    </p> 
    {% endif %}
  </form>
</div>
{% endif %}
{% endblock %}
