{% extends 'base.html' %}

{% block extrahead_base %}
<title> Profile </title>
{% endblock %}
   
{% block extraheader_base %}

<div id="profilename">
  <p> {{user.first_name}} {{user.last_name}} </p>
</div>

<p> {{company_form.errors.as_text}}</p>

<div id="company_reg" >
  <form method="post">
    {% csrf_token %}
    <label for="name"> Company name </label> {{ company_form.name }}
    <div id="company_reg_button">
      <input type="submit" name="company_reg" value="register" />
    </div>
  </form>
  <p> Companies: </p>
  {% for company in companies %} <p> {{company}} </p> {% endfor %} <p> 
</div>


<p> {{workspace_launch_form.errors.as_text}}</p>

<div id="workspace_launch" >
  <form method="post">
    {% csrf_token %}
   {{workspace_launch_form.hardware}}
   {{workspace_launch_form.os}}
    <input type="submit" name="workspace_launch" value="launch a new workspace" />
  </form>
</div>

{% endblock %}
