{% extends 'base.html' %}

{% block extrahead_base %}
<title> Registration </title>
{% endblock %}
   
{% block extraheader_base %}

<div id="registrationform" >    
  <form action="" method="post">
    {% csrf_token %}
    
    <div class="register_div">
      <p><label for="username"{% if form.username.errors %} class="error"{% endif %}> 
	  Email Address </label> {{ form.username }}</p>
      {% if form.username.errors %}<p class="error"> {{ form.username.errors.as_text }}</p>{% endif %}
    </div>

    <div class="register_div">
      <p><label for="firstname"{% if form.firstname.errors %} class="error"{% endif %}>
	  First Name </label> {{ form.firstname }}</p>
      {% if form.firstname.errors %}<p class="error">{{ form.firstname.errors.as_text }}</p>{% endif %}
    </div>
    
    <div class="register_div">
      <p><label for="lastname"{% if form.lastname.errors %} class="error"{% endif %}>
	  Last Name </label> {{ form.lastname }}</p>
      {% if form.lastname.errors %}<p class="error">{{ form.lastname.errors.as_text }}</p>{% endif %}
    </div>
    
    <div class="register_div">
      <p><label for="password"{% if form.password.errors or form.non_field_errors %} class="error"{% endif %}>
	  Password </label> {{ form.password }}</p>
      {% if form.password.errors %}<p class="error">{{ form.password.errors.as_text }}</p>{% endif %}
    </div>
    
    <div class="register_div">
      <p><label for="password1"{% if form.password1.errors or form.non_field_errors %} class="error"{% endif %}>
	  Verify Password</label> {{ form.password1 }}</p>
      {% if form.password1.errors %}<p class="error">{{ form.password1.errors.as_text }}</p>{% endif %}
      <!-- show the password error -->
      {% if form.errors %}<p class="error">{{ form.non_field_errors.as_text }}</p>{% endif %}  
    </div>

    <div id="registrationbutton" >
      <p><input type="submit" value="Sign Up" /></p>
    </div> 

  </form>
</div>  





{% endblock %}
