body {
     font: 1.1em Calibri;
     width: 1020px;
     padding: 10px;
     margin: 0 auto;
}	 

#header {
	width: 1000px;
	padding: 10px;
	background: #ccc;
	height: 120px;
}	

#header img {
	padding: 10px;   
}

#footer {
	position: absolute;
	bottom: 2px;
	width: 1000px;
	height: 25px;
	padding: 10px;
	background: #ccc;
	text-align: left;
}

#logoutbutton {
	margin-top: -110px;
	margin-left: 885px;
}

#loginform {
	   padding; 0;
	   font-size: 1.1em;
	   margin-top: -90px;
	   margin-left: 380px;
}

#loginform label {
	   text-align: right;
	   padding-left: 15px;
}

#loginform input {
	   height: 35px;
	   font-size: 0.8em;
	   width: 160px;
}

#loginformbutton {
		 margin-top: -35px;
		 margin-left: 510px;
}

#registrationform {
		  text-align: right;
		  padding: 20px;
		  margin-right: 610px;
		  margin-top: 10px;
		  font-size: 1.1em;	   
}

.register_div input {
		  padding:5px;
		  font-size: 0.8em;
		  height: 35px;
		  width: 160px;
}


#registrationformbutton input {
			display:inline-block;
			padding:5px;
			text-align:center;
			text-decoration:none;
			font-size: 1.1em;
			//background-color:#E25822;
			color:#E25822;
			height: 35px;
			width: 100px;
}

#registrationtext {
		  text-align: left;
                  margin-left: 40px;
		  margin-top: 20px;
		  font-size: 1.2em;
}

#loginformbutton input {
		 display:inline-block;	
              	 width: 80px;
              	 height: 35px;
              	 padding:5px;
              	 //border:1px #D7D7D7 solid;
              	 text-align:center;
              	 font-size: 1.1em;
              	 text-decoration:none;
              	 //background-color:#E25822;
              	 color:#E25822;	  
}


#logoutbutton button, #loginbutton button {
	      display:inline-block;
	      width: 80px;
	      height: 35px;
	      padding:5px;
	      //border:1px #D7D7D7 solid;
	      text-align:center;
	      font-size: 1.1em;
	      text-decoration:none;
	      //background-color:#E25822;
	      color:#E25822;
}

#registerbutton button {
		display:inline-block;
		width: 140px;
		height: 55px;
		padding:5px;
		text-align:center;
		font-size: 1.1em;
		text-decoration:none;
		color:#E25822;
}

#registerbutton p {
		padding: 20px;
		text-align: center;
}

ul {
   margin: 0;
   padding: 0;
}

#navbar {
	font-size:1.2em;
	margin-top: 90px;
	margin-left: 500px;
}

#navbar ul {
	list-style: none;		 
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	text-decoration: none;
	color: #000;
	display:block;
	padding: 0 25px;
	line-height: 30px;
}

#navbar ul li a:hover {
	background: #000;
	color: #fff;
}

.clear {
       clear:both;
}

#homeleft {
	  width: 530px;
	  float: left;
	  padding: 10px;
	  font-size: 1.65em;
	  text-align: left;
}

#homeright {
	   width: 450px;
	   float: right;
	   padding: 10px;
}


/* example
body {
     background-attachment: fixed;
     background-color: #000000;
     background-image: url(/static/images/abqLogo_300dpi.png);
     background-position: center top;
     background-repeat: no-repeat;
     color: #FFFFFF;
     margin: 0;
     padding: 0;
}
*/
