{% extends 'base.html' %}

{% block extrahead %}
   <title> Home </title>
{% endblock %}

{% block extraheader %}
   {% if not user.is_authenticated %}
   <div id="loginform">
     <form action="" method="post">
       {% csrf_token %}
       <label for="username">Email:</label>
       {{ form.username }}
       <label for="password">Password:</label>
       {{ form.password }}
       <div id="loginformbutton">
	 <input type="submit" value="login" alt="register" />
       </div>
     </form>
   </div>
   {% endif %}
{% endblock %}


{% block content %}

   <div id="homeleft">
     <p> At Abaqual, projects meet experts from virtual 
     companies empowered by instant access to 
     collaborative on-demand computing.</p>
     <div id="registerbutton">
       <p><a href="/register"><button type="button">Sign Up</button></a></p>
     </div> 
   </div>

   <div id="homeright">
     <img src="/static/images/junk.png" style="float:left" width="400" height="400" />
   </div>

   <div class="clear"></div>
   
{% endblock %}
